:root {
  --primary-color: #c3c3e4; 
  --secondary-color: #882525; 
  --accent-color: #265892; 
  --background-color: #3d3275; 
}

body {
  margin: 0px 1px 0px 0px;
  padding: 0px 1px 0px 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}